* {
  box-sizing: border-box;
}

html {
  /* height: 100%; */
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  /* height: 100%;   */
}

.backdrop {
  position: fixed;
  display: none;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.5);
}

.modal {
  position: fixed;
  display: none;
  opacity: 0;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}

.main-header {
  width: 100%;
  position: fixed;
  background-color: #2ddf5c;
  padding: 8px 16px;
  z-index: 1;
  top: 0;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;  
}

.main-header__brand {
  text-decoration: none;
  font-weight: 700;
  color: #0e4f1f;
  font-size: 22px;
  height: 23px;
  width: 23px;
  display: inline-block;
}

.main-header__brand img {
  width: 100%;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 74px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 3px;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  text-decoration: none;
  color: #fff;
  border-bottom: 5px solid white;  
}

.main-nav__item--cta a {
  color: #fff;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background: #fff;
  border-bottom: none;
}

.main-footer {
  background: #000;
  padding: 32px;
  margin-top: 48px;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}

.main-footer__link a {
  color: #fff;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}

.button {
  background: #0e4f1f;
  color: #fff;
  padding: 8px;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #fff;
  color: #0e4f1f;
}

.button:focus {
  outline: none;
}