* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica';
  color: #fff4d2;
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
}

body {
  background: #e4d6a7;
}

.container {
  padding: 1rem;
  display: grid;
  height: 100vh;
  grid-gap: 1rem;
  grid-template-columns: [sidebar-start] 25% [sidebar-end content-start] auto [content-end];
  grid-template-rows: [header-start] 12% [header-end content-start] auto [content-end footer-start] 12% [footer-end];
  grid-template-areas: "header  header"
                       "sidebar main"
                       "footer  footer"
}

.header, .sidebar, .main-content, .footer {
  background: #cfa042;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .header, .footer {
  grid-column-start: sidebar-start;
  grid-column-end: content-end;
} */

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main-content {
  grid-area: main;
}

.footer {
  grid-area: footer;
}